.contentBlock {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    flex-flow: wrap;
    place-content: center;
    padding: 5px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background: #030303;
    top: 100px;
    position: relative;
    justify-content: center;
}

.contentBlockSilder {
    max-width: 100%;
}

.contentBlockSilde {
    height: 250px;
    width: 93%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
@media (max-width: 850px) {
    .contentBlockSilde {
        width: 91%;
    }
}
@media (max-width: 800px) {
    .contentBlockSilde {
        width: 89%;
    }
}
@media (max-width: 750px) {
    .contentBlockSilde {
        width: 87%;
    }
}
@media (max-width: 700px) {
    .contentBlockSilde {
        width: 85%;
    }
}
@media (max-width: 650px) {
    .contentBlockSilde {
        width: 83%;
    }
}
@media (max-width: 600px) {
    .contentBlockSilde {
        width: 81%;
    }
}
@media (max-width: 550px) {
    .contentBlockSilde {
        width: 79%;
    }
}
@media (max-width: 500px) {
    .contentBlockSilde {
        width: 77%;
    }
}
@media (max-width: 450px) {
    .contentBlockSilde {
        width: 75%;
    }
}
@media (max-width: 400px) {
    .contentBlockSilde {
        width: 73%;
    }
}