.main-container {
    height: 250px;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}

.all-pages-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    transition: translate;
    transition-property: transform;
    transition-duration: 1500ms;
    transition-timing-function: ease-in-out;
}

.arrow {
    color: aliceblue;
    cursor: pointer;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(3, 3, 3, .3);
    border: 1px solid rgba(255, 255, 255, .2);
    cursor: pointer;
    z-index: 9;
    transition: .2s ease;
    box-sizing: border-box;
}